.weatherCard {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--card-shadow);
  width: 100%;
  max-width: 350px;
  height: fit-content;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.weatherMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.weatherIcon {
  width: 80px;
  height: 80px;
}

.temperature {
  font-size: 2.5rem;
  font-weight: bold;
}

.weatherDescription {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.weatherDetails {
  margin-top: 20px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--border-color);
}

.detailItem:last-child {
  border-bottom: none;
}

/* responsiveness */
@media (min-width: 769px) {
  .weatherCard {
    position: absolute;
    right: 40px;
    top: 100px;
    z-index: 1000;
  }
}

@media (max-width: 768px) {
  .weatherCard {
    margin: 15px auto;
    max-width: none;
    width: 95%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .weatherCard h2 {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .weatherMain {
    width: 30%;
    margin: 0;
    flex-direction: column;
  }

  .temperature {
    font-size: 1.8rem;
  }

  .weatherIcon {
    width: 50px;
    height: 50px;
  }

  .weatherDescription {
    width: 20%;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-align: left;
  }

  .weatherDetails {
    width: 40%;
    margin-top: 0;
  }

  .detailItem {
    padding: 3px 0;
  }
}

@media (max-width: 425px) {
  .weatherCard {
    margin: 15px auto;
    max-width: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
  }

  .weatherCard h2 {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .weatherMain {
    width: 30%;
    margin: 0;
    flex-direction: column;
  }
}
