.search input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 0.9rem;
  width: 100%;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
}

.search input:focus {
  outline: none;
  border-color: var(--highlight-color);
}

/* responsivness */
@media (max-width: 768px) {
  .search input {
    width: 100%;
  }
}
